#remake_shop_home{
    section{
        width: 80%;
        margin:  0 auto;
        ul{
            display: flex;
            width: 100%;
            li{
                width: 100%;
                a{
                    width: 100%;
                    padding: 20px 0;
                    text-align: center;
                    color: #fff;
                    border-top-right-radius: 15px;
                    border-top-left-radius: 15px;
                    background: $header_border_color;
                    &[href^="#"]{
                        background: $main_color;
                    }
                }
            }
        }
        table{
            width: 100%;
            tr{
                width: 100%;
                border-bottom: 1px solid $main_color;
                td{
                    text-align: center;
                    img{
                        width: 50px;
                        margin: 10px auto;
                    }
                    span{
                        width: 50px;
                        height: 50px;
                        border-radius: 15px;
                        margin: 10px auto;
                        background: #000;
                        display: block;
                    }
                    &:last-of-type{
                        p{
                            padding: 20px 0;
                        }
                        a{
                            padding: 10px 0;
                            background: $main_color;
                            color: #fff;
                            border-radius: 10px;
                        }
                    }
                    textarea {
                        vertical-align: middle;
                    }
                }
                >th{
                    background: $main_color;
                    padding: 20px 0;
                    p{
                        color: #fff;
                    }
                }
            }
        }
    }
}