#qr_detail {
    main {
        >p {
            font-size: 30px;
            padding: 20px 30px 100px;
        }

        section {
            width: 80%;
            margin: 0 auto;

            >p {
                text-align: center;
                font-size: 38px;

                b {
                    line-height: 3;
                    font-size: 30px;
                }
            }

            div {
                &:first-of-type {
                    width: 90%;
                    margin: 25px auto 200px;
                    background: $background_color_main;
                    border: 2px solid $header_border_color;
                    border-radius: 20px;
                    img{
                        width: 100%;
                        border-radius: 20px;
                    }
                }

                &:last-of-type {
                    width: 80%;
                    margin: 20px auto;

                    position: absolute;
                    bottom: 300px;
                    left: 0;
                    right: 0;

                    background: $botton_background;
                    border: 2px solid $header_border_color;

                    p {
                        text-align: center;
                        color: $botton_color;
                        padding: 15px 0;
                        font-size: 39px;

                        b {
                            color: $botton_color;
                            font-size: 30px;
                        }
                    }
                }
            }
        }

        .pop {
            width: 90vw;
            margin: 0 auto;
            position: absolute;
            top: 0;
            z-index: 9999;
            border: 1px solid #B5C76A;
            background-color: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            display: none;
            >p {
                &:nth-of-type(1) {
                    font-size: 40px;
                    text-align: center;
                    width: 100%;
                    height: 120px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #B5C76A;
                    color: white;
                }
            }

            >div {
                >div {
                    &:nth-of-type(2) {
                        >p {
                            margin-top: 40px;
                        }
                        width: 80%;
                        margin: 0 auto;
                        text-align: center;
                        font-size: 30px;
                    }

                    &:nth-of-type(3) {
                        >a {
                            &:nth-of-type(1) {
                                border: 1px solid red;
                                color: white;
                                background-color: #FF6A6A;
                                border-radius: 20px;
                            }
                            &:nth-of-type(2) {
                                border: 1px solid black;
                                margin-top: 40px;
                                border-radius: 20px;
                            }
                            width:80%;
                            height:80px;
                            display: flex;
                            align-items: center;
                            margin: 0 auto;
                            margin-top:20px;
                            justify-content: center;
                        }
                        width: 80%;
                        margin: 0 auto;
                        margin-top:100px;
                        margin-bottom:100px;
                        text-align: center;
                        font-size: 30px;
                    }
                }
            }
        }
        .pop_delete {
            background-color: white;
            >div {
                >div {
                    >p {
                        &:last-of-type {
                            margin-bottom: 250px;
                        }

                    }
                }
            }
        }
        .qr_item_img {
            width: 90%;
            display: flex;
            align-items: center;
            margin: 0 auto;
            margin-top: 100px;
            margin-bottom: 120px;
            justify-content: center;
            border: 1px solid black;

            >div {
                &:nth-of-type(1) {
                    width: 250px;
                    padding: 20px;
                    >img {
                        // width: 200px;
                        height: 200px;
                    }
                }

                >p {
                    &:last-of-type {
                        font-size:35px;
                    }
                }

                &:nth-of-type(2) {
                    width : calc(100% - 250px);
                    font-size:30px;
                    >div {
                        width: auto;
                        display: flex;
                        &:nth-of-type(1) {
                            margin-top:20px;
                        font-size: 25px;
                            >p {
                                width: 50%;
                                text-align: left;
                            }
                        }
                        &:nth-of-type(2) {
                            margin-top:20px;
                            >div {
                                width: 83px;
                                height: 83px;
                            }
                            >p {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 50%;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }

        .dark {
            height: 100%;
            position: absolute;
            top: 0;
            width: 100vw;
            background-color: black;
            opacity: 0.4;
            display: none;
        }
    }
}