
@mixin button_bottom_div() {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

@mixin input_button($padding, $background:$background_color_sub, $color:$header_border_color, $border_color:$header_border_color) {
    display: block;
    background: $background;
    color: $color;
    border: 2px solid $border_color;
    font-size: 45px;
    font-weight: bold;

    width: 80%;
    padding: $padding 0;
    margin: 50px auto;
    border-radius: 15px;
    text-align: center;

    &:active{
        background: $border_color;
        color: $background;
        border: 2px solid $background;
    }
}