// デザイン変数
@import "./import/color";
@import "./import/size";

/*
  SASSの見本用

  Login画面専用ファイル
  作成者：小川紗世
  ファイル変更者：小川紗世
*/

body#login{
  text-align: center;
  width: $width_main;      //100%
  height: 100vh;           //縦いっぱい

  // タイトル
  h1{
    color: $title_sub_color;
    font-size: $font_h1_main;
    font-weight: bold;
  }

  // メイン
  main{
    width: $width_main;     //100%
    section{
      background: $main_color;
      width: $width_main;
      padding: 50px 0;

    }
  }
}








/*


    よく使う関数


*/

.quote {   //" "を付けて出力してくれる関数
  content: quote(ハロー);
}

.unquote {   //" "を外して出力してくれる関数
  content: unquote("ハロー");
}

.abs {   //絶対値を出力してくれる関数
  width: abs(50px - 100px);
}

.ceil {   //数値の切り上げをしてくれる関数
  width: ceil(100px / 3);
}

.floor {   //数値の切り捨てをしてくれる関数
  width: floor(100px / 3);
}

.round {   //四捨五入してくれる関数
  width: round(100px / 3);
}

.rgba {
  color: rgba(#98ab8e, 0.3);   //16進数渡したカラーコードをry
}

.mix {
  color: mix(#f70000, #0000e2);
}

.lighten {
  color: lighten(#279841, 30%);
}

.darken {
  color: darken(#279841, 30%);
}
