#purchase_history{
    main{
        >div{
            background: $main_color;
            text-align: center;
            padding: 20px 10px;
            p{
                color: $font-color;
                font-weight: bold;
                font-size: 40px;
            }
        }
        section{
            ul{
                li{
                    >p{
                        border-top: 2px solid;
                        border-bottom: 2px solid;
                        font-size: 30px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        padding-left: 30px;
                    }
                    >.cont_box{
                        position: relative;
                        display: flex;
                        padding: 30px;
                        //border-bottom: 1px solid $header_border_color;
                        // リメイク後の画像
                        >p{
                            width: 30%;
                            img{
                                width: 100%;
                            }
                        }
                        // リメイク後の画像のデータ
                        >div{
                            width: 70%;
                            dl{
                                width:95%;
                                display: flex;
                                font-size: 30px;
                                align-items: center;
                                dt{
                                    width: 55%;
                                    text-align: right;
                                }
                                dd{
                                    width: 45%;
                                    display: flex;
                                    padding: 10px 0;
                                    img{
                                        height: 70px;
                                    }
                                    span{
                                        width: 70px;
                                        height: 70px;
                                        display: inline-block;
                                        //background: #ccc;
                                    }
                                    p{
                                        line-height: 70px;
                                        padding-left: 20px;
                                    }
                                }
                            }
                            >p{
                                font-size: 40px;
                                padding-left: 200px;
                            }
                        }
                    }
                    .total{
                         width:80%;
                         margin:0 auto;
                         padding-top:20px;
                         border-top: 5px solid $main_color;
                         >p{
                             font-size: 40px;
                             text-align: right;
                             padding-right: 100px;
                         }
                    }
                }
            }
        }
    }
}