#purchase_history{
    main{
        >div{
            background: $main_color;
            text-align: center;
            padding: 20px 10px;
            p{
                color: $font-color;
                font-weight: bold;
                font-size: 40px;
            }
        }
        section{
            ul{
                li{
                    div{
                        position: relative;
                        display: flex;
                        padding: 30px;
                        border-bottom: 1px solid $header_border_color;
                        >p{
                            width: 30%;
                            img{
                                width: 100%;
                            }
                        }
                        >div{
                            width: 70%;
                            dl{
                                display: flex;
                                font-size: 30px;
                                align-items: center;
                                dt{
                                    width: 55%;
                                    text-align: right;
                                }
                                dd{
                                    width: 45%;
                                    display: flex;
                                    padding: 10px 0;
                                    img{
                                        height: 70px;
                                    }
                                    span{
                                        width: 70px;
                                        height: 70px;
                                        display: inline-block;
                                    }
                                    p{
                                        line-height: 70px;
                                        padding-left: 20px;
                                    }
                                }
                            }
                            >p{
                                &:nth-of-type(1){
                                    font-size: 40px;
                                    padding-left: 35px;
                                }
                                &:nth-of-type(2){
                                    text-align: right;
                                    font-size: 30px;
                                    color: #5FB0E2;
                                    position: absolute;
                                    bottom: 30px;
                                    right: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}