#remake_data{
    // 商品名
    h2{
        font-size: 50px;
        text-align: center;
    }
    main{
        section{
            div{
                >p{
                    width: 60%;
                    // 商品画像
                    img{
                        width: 100%;
                    }
                    // 商品画像の箱
                    &:nth-child(1){
                        min-height: 500px;
                        margin: 10px auto 20px;
                        border: 2px solid $background_color_sub;
                    }
                    // 商品ID
                    &:nth-child(2){
                        margin: 5px auto;
                        text-align: right;
                        font-size: 20px;
                    }
                }
                // 商品情報テーブル
                table{
                    @include table_main;
                    tr>td{
                        line-height: 60px;
                    }
                    #color_name{
                        display: flex;
                        span{
                            width: 50px;
                            height: 50px;
                            display: inline-block;
                            margin-right: 15px;
                        }
                    }
                }
                // ボタンのdiv
                &:last-of-type{
                    @include button_bottom_div;
                }
                >input[type="button"]{
                    // 左のボタン
                    &:first-of-type{
                        @include input_button(20px);
                        margin-right: 10px;
                    }
                    // 右のボタン
                    &:last-of-type{
                        @include input_button(20px, $border_color_sub, $botton_color,none );
                        margin-left: 10px;
                    }
                }
            }
        }

    }
}