#remake_home{
    main{
        section{
            // 現在発行中のQRコード
            &:nth-child(1){
                background: $background_color_sub;
                padding: 40px 25px;
                div{
                    h2{
                        font-size: 45px;
                        font-weight: bold;
                    }
                    // 発行中未使用QRコード一覧
                    div{
                        margin-left:140px;
                        ul{
                            display: flex;
                            overflow: scroll;
                            
                            li{
                                width: 70%;
                                margin-right: 200px;
                                margin-bottom: 20px;
                                margin-top:20px;
                                a{
                                    width: 70vw;
                                    height: 600px;
                                    background: $background_color_main;
                                    border: 2px solid $header_border_color;
                                    border-radius: 20px;
                                    position: relative;
                                    //QRコード表示
                                    >img{
                                        width: 80%;
                                        margin: 0 auto;
                                    }
                                    // リメイク詳細
                                    div{
                                        background-color: red;
                                        display: flex;
                                        justify-content: space-between;
                                        position: absolute;
                                        z-index: 1;
                                        bottom: 40px;
                                        left: 0;
                                        right: 0;
                                        width: 50%;
                                        margin: 0 auto;
                                        // リメイクイメージ
                                        img{
                                            width: 100px;
                                        }
                                        // リメイクカラー&✖️
                                        span{
                                            width: 100px;
                                            height: 100px;
                                            text-align: center;
                                            font-size: 100px
                                        }
                                    }
                                }
                            }
                        }
                    }

                    // 「リメイクする」ボタン
                    >a{
                        border: 4px solid $border_color_sub;
                        background: $background_color_main;
                        color: $border_color_sub;

                        font-size: 45px;
                        font-weight: bold;
                        text-align: center;
                        border-radius: 15px;

                        width: 60%;
                        padding: 30px 0;
                        margin: 0 auto;
                        &:active{
                            border: none;
                            background: $border_color_sub;
                            color: $background_color_main;
                        }
                    }
                }
            }
            &:nth-child(2){

            }
        }
        .news{
            margin-top: 10px;
            .item{
                border-top: solid 5px #ce7966;
                border-bottom: solid 5px #ce7966;
                padding: 10px;
                .inner {
                    display: flex;
                    img{
                        height:250px;
                    }
                    height: 250px;
                    width:100%;
                    .inner2{
                        padding: 10px;
                        p{
                            margin-top: 30px;
                            font-size: 35px;
                            font-weight: bold;
                        }
                        h3{
                            margin-top:20px;
                            font-size: 20px;
                        }
                     }
                }
            }
            .item2{
                border-bottom: solid 5px #ce7966;
                padding: 10px;
                .inner {
                    display: flex;
                    img{
                        height:250px;
                    }
                    height: 250px;
                    width:100%;
                        .inner2{
                            padding: 10px;
                        p{
                            margin-top: 30px;
                            font-size: 35px;
                            font-weight: bold;
                        }
                        h3{
                            margin-top:20px;
                            font-size: 20px;
                        }
                    }
                }
            } 
        }
    }
}