#remake_qr_add{
    main{
        section{
            // 発行中未使用QRコート一覧
            div{
                width: 70%;
                margin: 25px auto;
                background: $background_color_main;
                border: 2px solid $header_border_color;
                border-radius: 20px;
                img{
                    width: 100%;
                    border-radius: 20px;
                }
            }
            p{
                width: 70%;
                margin: 200px auto 0;
                text-align: center;
                font-size: 40px;
                line-height: 1.7;
            }
        }
    }
}