#remake_select{
    main{
        section{
            
           >div{
                width: 80%;
                margin: 0 auto;
               >ul{
                   display: flex;
                   justify-content: space-between;
                   >li{
                       height:120px;
                       width:49%;
                       border-radius: 20px 20px 0px 0px;
                       background-color: #707070;
                        color:white;
                        font-size:40px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                       &:nth-of-type(1) {
                           background-color: #707070;
                       }
                   }
               }
                .con_title{
                    font-size:35px;
                    font-weight: bold;
                    margin-top:30px;
                    margin-left:50px;
                }
                >div{
                    border:1px solid #B5C76A;
                    >ul{
                        display: flex;
                        >li{
                            width:150px;
                            height:150px;
                            border: 1px solid black;
                        }
                    }
                }
                // 商品情報テーブル
                table{
                    @include table_main;
                }

                // ボタンのdiv
                &:last-of-type{
                    @include button_bottom_div;
                }
                >input[type="button"]{
                    // 左のボタン
                    &:first-of-type{
                        @include input_button(20px);
                        margin-right: 10px;
                    }
                    // 右のボタン
                    &:last-of-type{
                        @include input_button(20px, $border_color_sub, $botton_color,none );
                        margin-left: 10px;
                    }
                }
            }
        }

    }
}