$main_color: #B5C76A;

$background_color_main: #FFF;
$background_color_sub: #F5F5F5;

$font-color: #FFF;


$title_main_color: #B5C76A;
$title_sub_color: #FFF;

$link_color: #B5C76A;

$alert_color: #FFAF6A;

$border_color:#FFF;
$border_color_sub: #B5C76A;


$header_border_color:#707070;

$active_border_color:#FFAF6A;


$botton_color: #FFF;
$botton_background: #969696;

$table_th_color: #FFF;
$table_th: #FFF;