$main_color: #B5C76A;
$red: #ff0000;

$background_color_main: #FFF;
$background_color_sub: #F5F5F5;


$title_main_color: #B5C76A;
$title_sub_color: #FFF;

$border_color:#FFF;
$border_color_sub: #B5C76A;


$header_border_color:#707070;


$botton_color: #FFF;