
// Margin Size
$margin_main: 10px;
$margin_sub: 5px;

// Height Size
$height_main: 10px;
$height_sub: 50px;

// Width Size
$width_main: 100%;
$width_sub: 80%;

// Header Size
$header_width: 100%;
$header_height: 100px;

// Header Size
$footer_width: 100%;
$footer_height: 170px;

// Font Size
$font_h1_main:36px;
$font_h1_sub:24px;


