
html{
  margin: 0;
  padding: 0;
  color: $red;
}

body {
  background: $main_color;
  margin: 0;
  padding: 0;
  main{
    padding: 10px;
  }
  header{
    padding: 10px;
  }
  footer{
    padding: 10px;
  }
  
}
