main{
    margin: $header_height 0 $footer_height;

    button[type="submit"]{
        display: block;
        border: none;
        background: $main_color;
        color: $botton_color;
        font-size: 45px;
        font-weight: bold;

        width: 80%;
        padding: 20px 0;
        margin: 50px auto;
        border-radius: 15px;
    }
}