main{
    margin: $header_height 0 $footer_height;

    h1{
        font-size: 70px;
        text-align: center;
        padding: 70px 0;
        color: $title_main_color;
    }

    button[type="submit"]{
        display: block;
        border: none;
        background: $main_color;
        color: $botton_color;
        font-size: 45px;
        font-weight: bold;

        width: 80%;
        padding: 20px 0;
        margin: 50px auto;
        border-radius: 15px;
    }
}