header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background: #FFF;
  border-bottom: 1px solid #707070;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  header ul {
    display: flex;
    justify-content: end; }
    header ul li {
      width: auto;
      padding: 0 10px; }
      header ul li a {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 25px 0; }
  header p {
    padding: 10px; }
  header img {
    height: 100%; }

footer {
  width: 100%;
  height: 170px;
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;
  border-top: 2px solid #B5C76A; }
  footer ul {
    width: 100%;
    height: 170px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; }
    footer ul li {
      text-align: center;
      margin: 0 10px;
      width: 100%; }
      footer ul li a {
        display: inline-block;
        width: 100%;
        height: 100%; }
        footer ul li a p:nth-child(1) {
          display: block;
          box-sizing: border-box;
          padding: 25px;
          width: 65%;
          margin: 0 auto;
          height: 75%;
          border-radius: 50%;
          background: #B5C76A; }
          footer ul li a p:nth-child(1) img {
            width: 100%; }
        footer ul li a p:nth-child(2) {
          font-size: 25px;
          margin: 10px 0 0;
          font-weight: bold;
          color: #B5C76A; }

main {
  margin: 100px 0 170px; }
  main h1 {
    font-size: 70px;
    text-align: center;
    padding: 70px 0;
    color: #B5C76A; }
  main button[type="submit"] {
    display: block;
    border: none;
    background: #B5C76A;
    color: #FFF;
    font-size: 45px;
    font-weight: bold;
    width: 80%;
    padding: 20px 0;
    margin: 50px auto;
    border-radius: 15px; }

#remake_home main section:nth-child(1) {
  background: #F5F5F5;
  padding: 40px 25px; }
  #remake_home main section:nth-child(1) div h2 {
    font-size: 45px;
    font-weight: bold; }
  #remake_home main section:nth-child(1) div div ul li {
    width: 70%;
    margin: 25px auto; }
    #remake_home main section:nth-child(1) div div ul li a {
      width: 100%;
      height: 600px;
      background: #FFF;
      border: 2px solid #707070;
      border-radius: 20px; }
  #remake_home main section:nth-child(1) div > a {
    border: 4px solid #B5C76A;
    background: #FFF;
    color: #B5C76A;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    width: 60%;
    padding: 30px 0;
    margin: 0 auto; }

#remake_corse main section article ul {
  width: 80%;
  margin: 0 auto; }
  #remake_corse main section article ul li {
    width: 100%;
    height: 400px;
    padding: 60px 10px;
    text-align: center;
    background: #FFF;
    border: 3px solid #707070;
    border-radius: 20px; }
    #remake_corse main section article ul li:nth-child(1) {
      margin: 60px 0 100px; }
    #remake_corse main section article ul li#active {
      border-color: #FFAF6A; }
    #remake_corse main section article ul li#none_click {
      pointer-events: none;
      background: #000;
      opacity: 0.8; }
    #remake_corse main section article ul li h2 {
      font-size: 45px;
      font-weight: bold; }
    #remake_corse main section article ul li p {
      margin: 30px 0;
      font-size: 30px; }
      #remake_corse main section article ul li p b {
        font-size: 24px;
        color: #FFAF6A; }

#remake_corse main section > p {
  margin: 200px auto 50px;
  text-align: center;
  font-size: 30px; }
